.bord {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #607D8B;
}

.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('lib/img/inneed_img1.jpg');
  background-size: cover;
}
/*.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/
