<div class="row">
  <div class="col-md-8">
    <mat-card>
      NewUser
      <mat-slide-toggle [(ngModel)]="existingUserFlag">ExistingUser</mat-slide-toggle><br>
      <div *ngIf="!existingUserFlag">
        <mat-card class="mat-card-head">SignUp</mat-card><br>
        <form>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="First Name" [(ngModel)]="user.firstName" name="user.firstName">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="user.lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Mail Id" [(ngModel)]="user.mailId" name="user.mailId">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Phone" [(ngModel)]="user.phone" name="user.phone">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="user.password">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Retype password" type="password" [(ngModel)]="passwordformatch" name="passwordformatch">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <a mat-raised-button (click)="signup()">SignUp</a>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="existingUserFlag">
        <mat-card class="mat-card-head">LogIn</mat-card>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Email or mobile phone number" [(ngModel)]="user.mailId" name="user.mailId">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="user.password">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a mat-raised-button (click)="login()">Login</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    This place is reserved for internal ad
  </div>
</div>
